<div class="navbar is-fixed-top has-background-white-ter">
    <div class="navbar-brand">
        <a href="/"><img class="image is-64x64" src="/static/logo_alpha.png" alt="MagicBots"></a>
        <a id="navbarBurger" class="navbar-burger" data-target="navbarMenu" aria-label="menu" onclick="burgerMenu();" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navbarMenu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Magic Bots</a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item is-hidden-mobile" title="Discord" href="https://status.discord.club"><span class="icon is-small"><i class="fas fa-signal"></i></span></a>
            <a class="navbar-item is-hidden-mobile" title="Gitlab" href="/git"><span class="icon is-small"><i class="fab fa-git-square"></i></span></a>
            <a class="navbar-item is-hidden-mobile" title="Discord" href="/discord"><span class="icon is-small"><i class="fab fa-discord"></i></span></a>
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">
                    Tools
                </div>
                <div class="navbar-dropdown dropdown-right">
                    <a class="navbar-item" href="/tools/embed-generator">Embed Generator</a>
                    <a class="navbar-item" href="https://bots.discord.club">Discord Bots</a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="/docs" class="navbar-link">
                    Docs
                </a>
                <div class="navbar-dropdown dropdown-right">
                    <a class="navbar-item" href="/docs/xenon">Xenon</a>
                    <a class="navbar-item" href="/docs/embed-generator">Embed Generator</a>
                </div>
            </div>
        </div>
    </div>
</div>